* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#app {
    /* make 2 columns for the child divs*/
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}
.attendee_card {
    box-sizing: border-box;
    font-family: sans-serif;
    margin-bottom: 20px;
}

.attendee_part {
    position: relative;
}



.card_holder {
    background-size: contain;
    width: 444px;
    height: 666px;
    margin-bottom: 30px;
}

@media print {
    .card_holder {
        background-size: contain;
        width: 750px;
        height: 100vh;
    }
}

.attendee_part {
    height: 50%;
    position: relative;
}
.attendee_top .name_holder {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    font-family: "Inter var", -apple-system, BlinkMacSystemFont, "Helvetica Neue", Helvetica, sans-serif;
    .name {
        padding: 0 20px;
    }
}

.attendee_id {
    font-size: 9px;
    color: #6e6e6e;
    position: absolute;
}
.attendee_top .attendee_id {
    right: 10px;
    top: 5px;
}

.qr_code {
    position: absolute;
    width: 100%;
    text-align: center;
    img {
        width: 110px;
        height: 110px;
        border-radius: 8px;
    }
}

.for_organizer {
    .card_holder {
        background-image: url("./img/organizer-bg.png");
    }
    .attendee_top .name_holder {
        top: 77vh;
        color: white;
    }
    .attendee_top .attendee_id {
        left: 10px;
        top: 5px;
        color: #b2b2b2;
        font-size: 8px;
    }
    .attendee_top .qr_code {
        top: 44.5vh;
        img {
            width: 180px;
            height: 180px;
            border: 5px solid white;
            border-radius: 50%;
        }
    }
}

.for_speaker {
    .card_holder {
        background-image: url("./img/speaker-bg.png");
    }
    .attendee_top .name_holder {
        top: 77vh;
        color: white;
    }
    .attendee_top .attendee_id {
        left: 10px;
        top: 5px;
        color: #dadada;
        font-size: 8px;
    }
    .attendee_top .qr_code {
        top: 54.5vh;
    }
}

.for_attendee{
    .card_holder {
        background-image: url("./img/attendee-bg.png");
    }
    .attendee_top .name_holder {
        top: 77vh;
        color: white;
    }
    .attendee_top .attendee_id {
        left: 10px;
        top: 5px;
        color: #dadada;
        font-size: 8px;
    }
    .attendee_top .qr_code {
        top: 54.5vh;
    }
}

.for_volunteer {
    .card_holder {
        background-image: url("./img/attendee-bg.png");
    }
    .attendee_top .name_holder {
        top: 77vh;
        color: white;
    }
    .attendee_top .attendee_id {
        left: 10px;
        top: 5px;
        color: #dadada;
        font-size: 8px;
    }
    .attendee_top .qr_code {
        top: 54.5vh;
    }
}

